/*general styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  padding: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

input:focus {
  outline: none;
}
/*general styles*/

/* Variables */
:root {
  --mainColor: #00bcd4;
  --white: #fff;
  --colorLinks: #1e1e1e;
}
/* Variables */

/*Container*/
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}

/*Container*/

body {
  overflow-x: hidden;
  height: 5000px;
  font-family: "Poppins", sans-serif;
}

/* header */
header {
  padding: 15px 0;
  background-color: white;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content .logo {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.header__content .logo span {
  font-size: 16px;
}

.header__content nav {
  display: flex;
  gap: 35px;
  flex: 1;
  justify-content: center;
}
.header__content nav a {
  color: var(--colorLinks);
  font-size: 15px;
  transition: color 0.4s ease-in-out;
}
.header__content nav a:hover {
  color: var(--mainColor);
  transition: color 0.4s ease-in-out;
}

.buttons button {
  padding: 6px 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}
.buttons button:first-of-type {
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  background-color: white;
}
.buttons button:first-of-type:hover {
  border: 2px solid var(--mainColor);
  color: var(--white);
  background-color: var(--mainColor);
}
.buttons button:last-of-type {
  border: 2px solid var(--mainColor);
  color: var(--white);
  background-color: var(--mainColor);
}

.toggle__nav label::before {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 30px;
  color: var(--colorLinks);
  cursor: pointer;
  display: none;
}

.header__content input[type="checkbox"] {
  display: none;
}

@media (max-width: 800px) {
  .header__content nav {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: -2000px;
    background: var(--mainColor);
    padding: 40px 0;
    transition: left 0.4s ease-in-out;
  }
  .header__content nav a {
    color: white;
  }

  .toggle__nav label::before {
    display: block;
  }

  .header__content input[type="checkbox"]:checked + nav {
    left: 0;
    transition: left 0.4s ease-in-out;
  }
}

/* header */


/* banner */
.banner {
  padding: 300px 0;
  background-image: url('../images/banner-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display:grid;
  place-items:center;
}
.banner__content {
  width: 70%;
  color: var(--white)
}
.banner__content h2 {
  font-size:32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align:center;
  margin-bottom: 50px;
}

.banner .search__text {
  display: flex;
  gap: 15px;
  padding: 0 40px;
}
.banner .search__text input{
  flex: 1;
  background-color: transparent;
  border: 1px solid white;
  padding: 14px 10px;
}
.banner .search__text input::placeholder {
  color: var(--white)
}
.banner .search__text button{
  padding: 0 24px;
  background-color: var(--mainColor);
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.banner .checkboxes{
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-wrap:wrap;
  margin: 20px 0 0 0;
}

@media (max-width: 768px) {
  .banner__content  {
    width: 100%
  }
  .banner__content h2 {
    margin-bottom: 30px;
    font-size: 26px;
  }
  .banner .search__text button {
    padding: 0 16px;
    font-size: 14px
  }
  .banner .checkboxes {
    padding: 0 14px
  }
}


/* banner */

/* trusted */
.trusted {
  background-color : #f7f7f7;
  padding: 40px 0;
}
.trusted .title {
  text-align:center;
  font-size: 18px;
  margin-bottom: 40px;
}
.trusted__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  text-align:center;
}

@media (max-width: 991px) {
  .trusted__images {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;

  }
}
@media (max-width: 768px) {
  .trusted__images {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 25px;

  }
  .trusted .title {
    font-size: 16px;
  }
}
/* trusted */


/* services */
.services {
  padding: 140px 0;
}
.services__content {
  margin-bottom: 80px;
}
.services__content h6{
  color: var(--mainColor);
  font-size: 15px;
}
.services__content h3{
  font-size: 32px;
  margin: 10px 0 15px 0;
}
.services__content p{
  color: #6a6a6a;
  font-size: 15px;
}
.services__boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:15px;
}
.services__boxes .service__box {
  padding: 40px 50px;
  text-align:center;
  background-color: #f7f7f7;
}
.services__boxes .service__box i {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--mainColor);
  color: var(--white);
  font-size:32px;
  line-height: 100px;
}
.services__boxes .service__box h3 {
  margin: 15px 0;
  font-weight: 700;
}
.services__boxes .service__box p {
  font-size: 15px;
  color: #6a6a6a;
}
/* services */
