/*general styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  padding: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

input:focus {
  outline: none;
}
/*general styles*/

/* Variables */
:root {
  --mainColor: #00bcd4;
  --white: #fff;
  --colorLinks: #1e1e1e;
}
/* Variables */

/*Container*/
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/*Container*/

body {
  overflow-x: hidden;
  height: 5000px;
  font-family: "Poppins", sans-serif;
}

/* header */
header {
  padding: 15px 0;
  background-color: white;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 0 20px rgba(0,0,0,.4)
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content .logo {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.header__content .logo span {
  font-size: 16px;
}

.header__content nav {
  display: flex;
  gap: 35px;
  flex: 1;
  justify-content: center;
}
.header__content nav a {
  color: var(--colorLinks);
  font-size: 15px;
  transition: color 0.4s ease-in-out;
}
.header__content nav a:hover {
  color: var(--mainColor);
  transition: color 0.4s ease-in-out;
}

.buttons button {
  padding: 6px 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}
.buttons button:first-of-type {
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  background-color: white;
}
.buttons button:first-of-type:hover {
  border: 2px solid var(--mainColor);
  color: var(--white);
  background-color: var(--mainColor);
}
.buttons button:last-of-type {
  border: 2px solid var(--mainColor);
  color: var(--white);
  background-color: var(--mainColor);
}

.toggle__nav label::before {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 30px;
  color: var(--colorLinks);
  cursor: pointer;
  display: none;
}

.header__content input[type="checkbox"] {
  display: none;
}

@media (max-width: 800px) {
  .header__content nav {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: -2000px;
    background: var(--mainColor);
    padding: 40px 0;
    transition: left 0.4s ease-in-out;
  }
  .header__content nav a {
    color: white;
  }

  .toggle__nav label::before {
    display: block;
  }

  .header__content input[type="checkbox"]:checked + nav {
    left: 0;
    transition: left 0.4s ease-in-out;
  }
}

/* header */


/* banner */
.banner {
  padding: 300px 0;
  background-image: url('../images/banner-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display:grid;
  place-items:center;
}
.banner__content {
  width: 70%;
  color: var(--white)
}
.banner__content h2 {
  font-size:32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align:center;
  margin-bottom: 50px;
}

.banner .search__text {
  display: flex;
  gap: 15px;
  padding: 0 40px;
}
.banner .search__text input{
  flex: 1;
  background-color: transparent;
  border: 1px solid white;
  padding: 14px 10px;
}
.banner .search__text input::placeholder {
  color: var(--white)
}
.banner .search__text button{
  padding: 0 24px;
  background-color: var(--mainColor);
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.banner .checkboxes{
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-wrap:wrap;
  margin: 20px 0 0 0;
}

@media (max-width: 768px) {
  .banner__content  {
    width: 100%
  }
  .banner__content h2 {
    margin-bottom: 30px;
    font-size: 26px;
  }
  .banner .search__text button {
    padding: 0 16px;
    font-size: 14px
  }
  .banner .checkboxes {
    padding: 0 14px
  }
}


/* banner */

/* trusted */
.trusted {
  background-color : #f7f7f7;
  padding: 40px 0;
}
.trusted .title {
  text-align:center;
  font-size: 18px;
  margin-bottom: 40px;
}
.trusted__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  text-align:center;
}

@media (max-width: 991px) {
  .trusted__images {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;

  }
}
@media (max-width: 768px) {
  .trusted__images {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 25px;

  }
  .trusted .title {
    font-size: 16px;
  }
}
/* trusted */


/* services */
.services {
  padding: 140px 0;
}
.services__content {
  margin-bottom: 80px;
}
.services__content h6{
  color: var(--mainColor);
  font-size: 15px;
}
.services__content h3{
  font-size: 32px;
  margin: 10px 0 15px 0;
}
.services__content p{
  color: #6a6a6a;
  font-size: 15px;
}
.services__boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:15px;
}
.services__boxes .service__box {
  padding:  50px 40px;
  text-align:center;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.services__boxes .service__box i {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--mainColor);
  color: var(--white);
  font-size:32px;
  line-height: 100px;
}
.services__boxes .service__box h3 {
  margin: 15px 0;
  font-weight: 700;
}
.services__boxes .service__box p {
  font-size: 15px;
  color: #6a6a6a;
}

@media (max-width: 991px) {
  .services__boxes  {
  grid-template-columns: repeat(2, 1fr);

  }
}
@media (max-width: 768px) {
  .services__boxes  {
  grid-template-columns: repeat(1, 1fr);

  }
}
/* services */

/* CLOUD */

.cloud {
  position: relative;
}

.cloud__background {
  background-image: url('../images/pricing-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  z-index: -1;

}

.cloud__content {
  width: 60%;
  margin: 0 auto;
  padding :80px 0;
  text-align: center;
  color: var(--white)
}
.cloud__content h3{
  font-size: 32px;
}
.cloud__content p{
  font-size: 15px;
  margin-top: 10px;
  line-height: 1.7;
}

.cloud__boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.cloud__box {
  padding: 50px 40px;
  text-align:center;
  box-shadow: 0 0 2px rgba(0,0,0,.4);
  position: relative;
  background-color: var(--white);
}


.cloud__box h3 {
  margin-bottom: 45px;
  font-size: 17px;
}
.cloud__price  {
  background-color: var(--mainColor);
  color:var(--white);
  padding: 30px;
}
.cloud__price h4 {
  font-size: 32px;
}
.cloud__price span{
  font-size: 14px;
  font-weight: 700;
}

.cloud__box:nth-of-type(2) .cloud__price {
  background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%)
}


.cloud__box .cloud__desc {
  font-size: 14px;
  color: #6a6a6a;
  margin: 30px 0 0 0;
}
.cloud__box .cloud__border {
  margin: 35px 0;
  background-color: #eee;
  height:.7px;
  border: none;

}

.cloud__box ul li {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 14px 0;
}
.cloud__box ul li i {
  color: #491bb1;
  font-size: 14px
}
.cloud__box ul li p {
  color: #6a6a6a;
  font-size: 15px;
}

.cloud__box button {
  padding: 10px 15px;
  background-color: var(--mainColor);
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.cloud__box:nth-of-type(2) button {
  background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%)
}

@media (max-width: 991px) {
  .cloud__boxes {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 35px;
  }
  .cloud__box ul li  {
    justify-content:center;
  }
}
@media (max-width: 768px) {
  .cloud__boxes {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 35px;
  }

  .cloud__content {
    width: 90%;
  }
   .cloud__content h3{
     font-size: 25px;
   }

   .cloud__box  {
     padding: 30px 25px;
   }
}


/* CLOUD */

/* features */
.features {
  padding: 140px 0 ;
}

.feat__heading {
  text-align:center;
  margin-bottom: 80px;
}
.feat__heading span{
  color: var(--mainColor);
  font-size: 15px;
  font-weight: 700;
}
.feat__heading h3{
  font-size: 32px;
  margin: 10px 0 0 0;
  font-weight: 600;
}
.feat__boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.feat__boxes .feat__box {
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border-radius: 5px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.feat__box .feat__content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.feat__box .feat__content p {
  color: #6a6a6a;
  font-size: 14px;
}


@media (max-width: 991px) {
  .feat__boxes .feat__box  {
    align-items:flex-start;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .feat__boxes {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* features */

/* testimonials */
.testimonials {
  padding: 100px 0;
  background-color:#f7f7f7;
}
.test__heading {
  text-align:center;
  margin-bottom: 80px;
}
.test__heading span{
  color: var(--mainColor);
  font-size: 15px;
  font-weight: 700;
}
.test__heading h3{
  font-size: 32px;
  margin: 10px 0 0 0;
  font-weight: 600;
}

.test__content {
  text-align:center;
}
.test__content i {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
  color: var(--white);
  font-size: 18px;
  line-height: 60px;
  margin-bottom: 40px;
}
.test__content p {
  color: #6a6a6a;
  font-size: 19px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
}
.test__content h3 {
  font-size: 19px;
}
.test__content h4 {
  font-size: 15px;
  color: var(--mainColor);
  font-weight: 400;
}
.test__content ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}
.test__content ul li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:var(--mainColor); 
  opacity: 0.4;
}
.test__content ul li:first-of-type {
  opacity: 1;
}
/* testimonials */

/* footer */
footer {
  padding: 140px 0;
  background-image : url('../images/footer-bg.jpg');
  background-size:cover;
  background-position : center;
}

.footer__boxes {
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  gap: 15px;
  color: var(--white);
}

.footer__box h3{
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 30px;
}
.footer__box p{
  font-size: 14px;
  font-weight: 300;
}
.footer__box ul {
  display: flex;
  flex-direction : column;
  gap: 6px;
}
.footer__box ul li a {
  color: white;
  font-size: 14px;
  font-weight: 300;
  transition: opacity .4s ease-in-out;
}
.footer__box ul li span {
  font-size: 15px;
}
.footer__box ul li a:hover {
  opacity: .7;
  transition: opacity .4s ease-in-out
}
/* footer */